<!DOCTYPE html>
<html>
    

<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
            <title>前端开关按钮</title>
    </meta>
    <link href="{% static "css/diyOnOffSwitch.css" %}" rel="stylesheet">  
</head>

<body>               
       <div style="position:relative; width:125px;height:25px;line-height:25px;font-size:14px">
        <!-- <span class="SAP">SAP</span> -->
        <div class="onoffswitch">
            <input type="checkbox" name="onoff" class="onoff_checkbox" id="onoff" checked>
            <label for="onoff" class="onoff_label">
                <!-- 底色 -->
                <span class="onoff_inter"></span>
                <!-- 滑动按钮 -->
                <span class="onoff_switch"></span>
            </label>
        </div>
        <!-- <span class="FBOI">FBOI</span> -->
    </div>
</body>

</html>